/*
Admin css
*/



.resume-templates-admin{}


.resume-templates-admin .section-list {
  width: 100%;
}

.resume-templates-admin .section-list .section {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 153, 153);
  margin-bottom: 10px;
  padding: 0;
}

.resume-templates-admin .section-list .section .section-dragHandle {
  cursor: move;
  text-align: center;
  width: 20px;
}

.resume-templates-admin .section-list .section.active {
  background: none repeat scroll 0 0 rgb(221, 240, 255);
}

.resume-templates-admin .section-list .section .section-header {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 5px 10px;
}
.resume-templates-admin .section-list .section.active .section-header {
  background: none repeat scroll 0 0 rgb(172, 218, 253);
}


.resume-templates-admin .section-list .section .section-remove {
  background: none repeat scroll 0 0 rgb(255, 91, 64);
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-left: 20px;
  text-align: center;
  width: 20px;
}

.resume-templates-admin .section-list .section .menu_hide {
  float: right;
}



.resume-templates-admin .section-list .section.active .section-info {
  display: inline-block;
}





.resume-templates-admin .section-list .section-info {
  display: none;
  margin-top: 10px;
  padding: 5px 10px;
  vertical-align: top;
  width: 48%;
}

.resume-templates-admin .section-info .section-content-loading {
  display: none;
}




.resume-templates-admin .section-list .section-info .section_title {
  margin: 5px 0;
}


.resume-templates-admin .section-list .section-info .section_details{
	margin: 5px 0;
	}

.resume-templates-admin .section-list .section .section-content {
  display: none;
  width: 100%;
}

.resume-templates-admin .section-list .section.active .section-content {
  display: inline-block;
}



.resume-templates-admin .section-list .post-grid-details {
  background: none repeat scroll 0 0 rgb(201, 230, 252);
  border-left: 2px solid rgb(172, 218, 253);
  display: none;
  margin: 10px 0;
  padding: 10px;
}












.resume-templates-admin .section-content .section-content-skill,
.resume-templates-admin .section-content .section-content-social,
.resume-templates-admin .section-content .section-content-language,
.resume-templates-admin .section-content .section-content-interest,
.resume-templates-admin .section-content .section-content-education,
.resume-templates-admin .section-content .section-content-experiences,
.resume-templates-admin .section-content .section-content-award
 {
  padding: 10px;
}
.resume-templates-admin .section-content .section-content-skill .remove-skill,
.resume-templates-admin .section-content .section-content-social .remove-social,
.resume-templates-admin .section-content .section-content-language .remove-language,
.resume-templates-admin .section-content .section-content-interest .remove-interest,
.resume-templates-admin .section-content .section-content-education .remove-education,
.resume-templates-admin .section-content .section-content-experiences .remove-experiences,
.resume-templates-admin .section-content .section-content-award .remove-award,
.resume-templates-admin .section-content .section-content-contact-info .remove-contact-info


 {
  background: none repeat scroll 0 0 rgb(255, 91, 64);
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  width: 15px;
}
.resume-templates-admin .section-content .section-content-skill .resume_templates_skill_name,
.resume-templates-admin .section-content .section-content-social .resume_templates_social_name,
.resume-templates-admin .section-content .section-content-language .resume_templates_language_name,
.resume-templates-admin .section-content .section-content-interest .resume_templates_interest_name,
.resume-templates-admin .section-content .section-content-education .resume_templates_education_institution,
.resume-templates-admin .section-content .section-content-experiences .resume_templates_experiences_institution,
.resume-templates-admin .section-content .section-content-award .resume_templates_award_institution,
.resume-templates-admin .section-content .section-content-contact-info .resume_templates_contact_info_email

 {
  width: 50%;
}



.resume-templates-admin .section-content .section-content-skill .resume_templates_skill_value,
.resume-templates-admin .section-content .section-content-social .resume_templates_social_value,
.resume-templates-admin .section-content .section-content-language .resume_templates_language_value,
.resume-templates-admin .section-content .section-content-interest .resume_templates_interest_value,
.resume-templates-admin .section-content .section-content-education .resume_templates_education_year,
.resume-templates-admin .section-content .section-content-experiences .resume_templates_experiences_year,
.resume-templates-admin .section-content .section-content-award .resume_templates_award_year,
.resume-templates-admin .section-content .section-content-contact-info .resume_templates_contact_info_website

 {
  width: 25%;
}
























